.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: column;
  justify-content: space-between;
}

.boxMap{
  width: 100%;
  height: 100%;
}


.mapStyles{
    width: 100%;
    height: 100%
};

.infoWindow{};

.containerLateralSide{
  background: #F5F5F5;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
